{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}나의 학습 사이트{% endblock %}</title>
    <meta name="viewport" content="width=440, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/css/dashboard_styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="site-header">
        {% include 'includes/_navigation_menu.html' %}
    </header>
    <main class="main-content" id="main">
        {% if messages %}
            <ul class="messages" style="list-style: none; padding: 10px; margin: 10px 0; border-radius: 5px; text-align:center;">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" style="padding: 10px; margin-bottom: 5px; color: white; background-color: {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}#dc3545;{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}#28a745;{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}#ffc107; color: black;{% else %}#17a2b8;{% endif %}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    {% include 'includes/_footer.html' %}
    <script src="{% static 'users/js/dashboard_scripts.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
