{% extends 'base.html' %}
{% load static %}

{% block title %}Number Shooter{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'minigame/css/number_shooter.css' %}">
<!-- 팬시 폰트 (Luckiest Guy, Orbitron) -->
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Orbitron:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="number-shooter-header">
  <div id="score" class="score-box">Score: 0</div>
</div>
<div class="number-shooter-canvas-wrap">
  <canvas id="number-shooter-canvas" width="800" height="600"></canvas>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/libs/pixi-legacy.min.js' %}"></script>
<script src="{% static 'js/libs/pixi-filters.js' %}"></script>
<script src="{% static 'js/libs/howler.min.js' %}"></script>
<script src="{% static 'js/games/number_shooter/game.js' %}"></script>
{% endblock %}
